/*
ESTILIZAÇÃO
DO 
CARROSSEL
*/
.container__carrossel {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    background-color: var(--cor-amarelo2);
}

.container__carrosssel__imagem {
    border-radius: 2px;
    width: 60%;
}

/*
ESTILIZAÇÃO
DA SEÇÃO
SOBRE NÓS
*/
.container__sobre {
    padding: 1rem 3rem 0 3rem;
    background-color: var(--cor-marrom);
    font-weight: 800;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.container__sobre__titulo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    font-family: var(--fonte-primaria);
}

.container__sobre__texto {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-weight: 500;
    color: white;
    text-align: justify;
    font-size: 1rem;
    font-family: var(--fonte-primaria);
}

.container__sobre__foto {
    grid-column: 2 / 3;
    grid-row: 2 / end;
    width: 18rem;
}

/*
ESTILIZAÇÃO
DA SEÇÃO
DE LOJA
*/
.container__loja {
    padding: 2rem 3rem;
    gap: 2rem;
    background-color: var(--cor-amarelo2);
    grid-template-rows: 1fr 6fr;
}

.container__loja__titulo {
    margin-bottom: 2rem;
    grid-area: titulo;
    text-transform: uppercase;
    color: black;
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    font-weight: 800;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.container__loja__produtos {
    grid-area: produtos;
    gap: 2rem;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
                        "produto1 produto2 produto3"
                        "produto4 produto5 produto6";
}

 .container__loja__produtos__produto {
    justify-self: center;
    background-color: var(--cor-laranja);
    border-radius: 16px;
    display: grid;
    row-gap: 0.8rem;
    justify-content: center;
    padding: 2rem;
    border: 1px solid black;
}

.container__loja__produtos__produto__texto {
    font-size: 1rem;
    color: black;
    font-weight: 600;
    font-family: var(--fonte-primaria);
}

.pAntigo {
    color: red;
}

.pNovo {
    color: green;
}

.container__loja__produtos__produto__botao-compra {
    background: var(--cor-marrom);
    color: white;
    font-weight: 800;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.container__loja__produtos__produto__botao-compra:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container__loja__produtos__produto__imagem {
    width: 10rem;
    justify-self: center;
}

/* 
POSICIONANDO
OS 
PRODUTOS 
*/
.produto1 {
    grid-area: produto1;
}
.produto2 {
    grid-area: produto2;
}
.produto3 {
    grid-area: produto3;
}
.produto4 {
    grid-area: produto4;
}
.produto5 {
    grid-area: produto5;
}
.produto6 {
    grid-area: produto6;
}

/*
ESTILIZAÇÃO
DA SEÇÃO
DE ADOÇÃO
*/
.container__adocao__animais {
    padding-top: 1rem;
    justify-items: center;
    background-color: var(--cor-marrom);
    display: grid;
    row-gap: 2rem;
    align-items: center;
    grid-template-areas: 
                        "gatoT cachorroT"
                        "gatoF cachorroF";
}

.container__adocao__animais-animal {
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    font-weight: 800;
}

.container__adocao__animais-animal strong {
    color: var(--cor-laranja);
}

.container__adocao__animais__foto {
    max-width: 15rem;
    height: 15rem;
}

/* 
POSICIONANDO
OS 
ELEMENTOS 
*/
.cachorroF {
    grid-area: cachorroF;
}
.gatoF {
    grid-area: gatoF;
}
.cachorroT {
    grid-area: cachorroT;
}
.cachorroF {
    grid-area: cachorroF;
}

/* 
ESTILIZAÇÃO
DA SEÇÃO
DE PETS
*/

.container__adocao__animais__animal {
    gap: 4rem;
    padding: 2rem 0;
    background-color: var(--cor-amarelo2);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
                        "animal1 animal2 animal3"
                        "animal4 animal5 animal6";
}

.container__adocao__animais__animal-adotavel {
    display: grid;
    row-gap: 1rem;
    grid-template-areas: 
                        "nomeAnimal"
                        "fotoAnimal"
                        "botaoAdotar";
}

.container__adocao__animais__animal-adotavel__nome {
    justify-self: center;
    color: black;
    font-family: var(--fonte-primaria);
    font-weight: 800;
    font-size: 2rem;
}

.container__adocao__animais__animal-adotavel__foto {
    justify-self: center;
    border-radius: 5px;
    width: 15rem;
}

.container__adocao__animais__animal-adotavel__botao {
    justify-self: center;
    background: var(--cor-marrom);
    color: white;
    font-weight: 800;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.container__adocao__animais__animal-adotavel__botao:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bela {
    grid-area: animal1;
}
.leo {
    grid-area: animal2;
}
.bailey {
    grid-area: animal3;
}
.daisy {
    grid-area: animal4;
}

/* 
ESTILIZANDO
A SEÇÃO
DE ENDEREÇO
*/
.container__endereco {
    background-color: var(--cor-marrom);
    padding: 2rem;
    column-gap: 2rem;
    display: grid;
    align-items: center;
    grid-template-areas: 
                        "enderecoFoto enderecoTitulo"
                        "enderecoFoto enderecoLocal";
}

.container__endereco__foto {
    grid-area: enderecoFoto;
    width: 17rem;
    justify-self: end;
}

.container__endereco__titulo {
    text-transform: uppercase;
    justify-self: center;
    font-family: var(--fonte-primaria);
    font-size: 4rem;
    font-weight: 800;
    grid-area: enderecoTitulo;
    color: white;
}

.container__endereco__local {
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    justify-self: center;
    align-self: start;
    grid-area: enderecoLocal;
    color: white;
}

/* 
ESTILIZANDO
A SEÇÃO
DE CONTATO
*/
.container__contato {
    background-color: var(--cor-amarelo2);
    padding: 2rem 0;
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-areas: 
                        "tituloSuporte"
                        "nomeSuporte"
                        "emailSuporte"
                        "celularSuporte"
                        "assuntoSuporte";
}

.container__contato__titulo {
    text-transform: uppercase;
    justify-self: center;
    font-family: var(--fonte-primaria);
    font-size: 4rem;
    font-weight: 800;
    color: black;
}

.container__contato__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    justify-self: center;
    align-self: start;
    color: black;
}

.container__contato__botao {
    justify-self: center;
    align-self: start;
    background: var(--cor-marrom);
    color: white;
    font-weight: 800;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.container__contato__botao:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}