@media (min-width: 868px) {
    .cabecalho__navegacao__itens {
        display: flex;
    }
    #menuHamburguer {
        display: none;
    }
}

@media (max-width: 867px) {
    .cabecalho__navegacao__itens {
        position: absolute;
        display: none;
        text-align: center;
        background-color: var(--cor-amarelo1); 
        flex-direction: column;
        z-index: 10;
        border-radius: 15px;
    }
    .cabecalho__navegacao__itens__item {
        padding: 0.5rem;
    }
    .cabecalho__navegacao__itens__item:hover {
        color: var(--cor-marrom);
        background-color: var(--cor-amarelo1);
    }
    .container__carrosssel__imagem {
        width: 100%;
    }
    .container__sobre {
        justify-content: center;
        gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 4fr;
    }
    .container__sobre__titulo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .container__sobre__texto {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .container__sobre__foto {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .container__adocao__animais-animal {
        font-size: 1.4rem;
        text-align: center;
    }
    .container__adocao__animais__animal {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
                            "animal1"
                            "animal2"
                            "animal3"
                            "animal4";
    }
    .container__endereco {
        row-gap: 3rem;
        grid-template-areas: 
                            "enderecoFoto"
                            "enderecoTitulo"
                            "enderecoLocal";
    }
    .container__loja__produtos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
                            "produto1" 
                            "produto2" 
                            "produto3"
                            "produto4" 
                            "produto5" 
                            "produto6";
    }
    .container__endereco__foto {

        justify-self: center;
    }
    .container__endereco__local {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .container__sobre__texto {
        font-size: 0.8rem;
    }
    
    .container__sobre__titulo,
    .container__loja__titulo {
        font-size: 1rem;
    }
    .container__adocao__animais-animal {
        font-size: 0.9rem;
    }
    .container__adocao__animais__foto {
        max-width: 8rem;
        height: 8rem;
    }
    .container__endereco__foto {
        width: 12rem;
    }
    .container__endereco__local {
        font-size: 1.2rem;
    }
    .container__endereco__titulo,
    .container__contato__titulo {
        font-size: 1.9rem;
    }
}