@import url('header.css');
@import url('main.css');
@import url('footer.css');
@import url('reset.css');
@import url('responsive.css');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');

:root {
    /* PALETA DE CORES */
    --cor-primaria: #242f46;
    --cor-secundaria: #d06d79;
    --cor-terciaria: #a9c2b9;
    --cor-quaternaria: #ecedee;
    /* FONTES */
    --fonte-primaria: "Poetsen One", sans-serif;
    --fonte-secundaria: "Rubik Mono One", monospace;
}